{% autoescape off %}
Hola {{ user.nombre }}:

Haz clic en el siguiente enlace para cambiar la contraseña de tu cuenta de La Pica de la Chabelita:

http://{{ domain }}{% url 'resetpassword_validate' uidb64=uid token=token %}

Este enlace es único y temporal. Si no estás tratando de recuperar tu contraseña de La Pica de la Chabelita, por favor ignora este correo electrónico. Es posible que otro usuario haya introducido su información de inicio de sesión de manera incorrecta.

¡Saludos!  
El equipo de La Pica de la Chabelita.
{% endautoescape %}


