{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width: 520px; margin-top: 40px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title">Registro de Usuario</h4></header>
            <form action="{% url 'registrar' %}" method="POST">
                {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Tu nombre</label>
                              {{ form.nombre }}
                              {% if form.nombre.errors %}
                                  <div class="text-danger">{{ form.nombre.errors }}</div>
                              {% endif %}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Tu apellido</label>
                              {{ form.apellido }}
                              {% if form.apellido.errors %}
                                  <div class="text-danger">{{ form.apellido.errors }}</div>
                              {% endif %}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->

                    <div class="form-row">
                      <div class="col form-group">
                          <label>Número de celular</label>
                            {{ form.telefono }}
                            {% if form.telefono.errors %}
                                  <div class="text-danger">{{ form.telefono.errors }}</div>
                              {% endif %}
                      </div> <!-- form-group end.// -->
                      <div class="col form-group">
                          <label>Correo electrónico</label>
                          {{ form.email }}
                          {% if form.email.errors %}
                                  <div class="text-danger">{{ form.email.errors }}</div>
                              {% endif %}
                      </div> <!-- form-group end.// -->
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Contraseña</label>
                            {{ form.password }}
                            {% if form.password.errors %}
                                  <div class="text-danger">{{ form.password.errors }}</div>
                              {% endif %}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>Repetir contraseña</label>
                            {{ form.confirmar_password }}
                            {% if form.confirmar_password.errors %}
                                  <div class="text-danger">{{ form.confirmar_password.errors }}</div>
                              {% endif %}
                        </div> <!-- form-group end.// -->
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Registrarme  </button>
                    </div> <!-- form-group// -->

                    {{ form.non_field_errors }}

                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">¿Tienes ya una cuenta? <a href="{% url 'login' %}">Inicia Sesión</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}



{% comment %} {% extends 'base.html' %} 

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title">Registro de Usuario</h4></header>
            <form action="{% url 'registrar' %}" method="POST">
                {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Tu nombre</label>
                              {{ form.nombre }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Tu apellido</label>
                              {{ form.apellido }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->

                    <div class="form-row">
                      <div class="col form-group">
                          <label>Número de celular</label>
                            {{ form.telefono }}
                      </div> <!-- form-group end.// -->
                      <div class="col form-group">
                          <label>Correo electrónico</label>
                          {{ form.email }}
                      </div> <!-- form-group end.// -->
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Contraseña</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>Repetir contraseña</label>
                            {{ form.confirmar_password }}
                        </div> <!-- form-group end.// -->
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Registrarme  </button>
                    </div> <!-- form-group// -->

                    {{ form.email.errors }}
                    {{ form.non_field_errors }}

                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">¿Tienes ya una cuenta? <a href="">Inicia Sesión</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
{% endcomment %}

