{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">
          {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Cambia tu contraseña:</strong>
            </header>
            <div class="card-body">

            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'cambio_password' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="">Si tienes alguna duda contactenos a nuestro numero de telefono de ayuda al cliente.</label>
                        <div class="card" style="text-align:center">
                            <div class="card-body">
                                <h5 class="card-title">Numero de telefono: +569 54319275</h5>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Si tienes alguna problema con la pagina web no dudes en escribirnos en nuestro correo electronico.</label>
                        <div class="card" style="text-align:center">
                            <div class="card-body">
                                <h5 class="card-title">Correo electronico: lapicachabelita@gmail.com</h5>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Politica de seguridad y cumplimiento</label>
                        <div class="card" style="text-align:center">
                            <div class="card-body">
                                <h5 class="card-title">1.Privacidad de la Información: Los datos de los clientes, incluyendo información de contacto y métodos de pago, deben protegerse adecuadamente y sólo utilizarse para el propósito específico de la transacción.</h5>
                            </div>
                        </div>
                    </div>


                </form>
              </div>
            </div>

            </div> <!-- card-body .// -->

            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}


