{% extends 'base.html' %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- Notificación de reserva exitosa -->
    {% if request.GET.command == 'reservation_success' %}
      <div class="container mx_auto alert alert-info" role="alert" style="max-width: 600px; margin-top: 20px;">
        ¡Tu reserva ha sido realizada exitosamente! Te hemos enviado un correo con tu código de reserva a {{ request.GET.email }}.
      </div>
    {% endif %}

    <!-- Notificación de error de reserva -->
    {% if request.GET.error == 'mesa_ocupada' %}
      <div class="container mx_auto alert alert-danger" role="alert" style="max-width: 600px; margin-top: 20px;">
        ¡Lo sentimos! pero la mesa que intentas reservar ya está reservada.
      </div>
    {% endif %}

    <div class="card mx-auto" style="max-width: 600px; margin-top: 50px;">
        {% include 'includes/alerts.html' %}

        <div class="card-body">
            <h4 class="card-title mb-4">Reservar mesa</h4>

            <!-- Formulario para reservar mesa -->
            <form id="reserva-form" method="POST" action="{% url 'reservacion' %}">
                {% csrf_token %}

                <div class="form-group row">
                    <div class="col">
                        <label for="nombre">Ingrese su nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre usuario" required>
                    </div>
                    <div class="col">
                        <label for="apellido">Ingrese su apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresar apellido usuario" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="email">Ingrese su correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
                    </div>
                    <div class="col">
                        <label for="telefono">Ingrese su número telefónico</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="912345678" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="personas">Cantidad de personas</label>
                        <input type="number" class="form-control" id="personas" name="personas" placeholder="Número de personas" min="1" required>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="numero_mesa">Número de Mesa</label>
                            <input type="number" class="form-control" id="numero_mesa" name="numero_mesa" placeholder="10" min="1" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="dia_reserva">Seleccione el día de la reserva</label>
                        <select class="form-control" id="dia_reserva" name="dia_reserva" required></select>
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const selectDiaReserva = document.getElementById('dia_reserva');
                        const today = new Date();

                        // Generar solo los próximos cinco días
                        for (let i = 0; i < 5; i++) {
                            const option = document.createElement('option');
                            const futureDate = new Date(today);
                            futureDate.setDate(today.getDate() + i);

                            // Formato de fecha "YYYY-MM-DD"
                            option.value = futureDate.toISOString().split('T')[0];
                            option.textContent = option.value;
                            selectDiaReserva.appendChild(option);
                        }
                    });
                </script>

                <div class="form-group row">
                    <div class="col">
                        <label for="hora_comienzo">Hora de comienzo</label>
                        <select class="form-control" id="hora_comienzo" name="hora_comienzo">
                            <option value="12:00">Entre las 12:00 y 13:00</option>
                            <option value="13:00">Entre las 13:00 y 14:00</option>
                            <option value="14:00">Entre las 14:00 y 15:00</option>
                            <option value="15:00">Entre las 15:00 y 16:00</option>
                            <option value="16:00">Entre las 16:00 y 17:00</option>
                            <option value="17:00">Entre las 17:00 y 18:00</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="confirmar" name="confirmar" required>
                    <label class="form-check-label" for="confirmar">Confirmar reserva</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Reservar mesa</button>
            </form>
            <!-- Fin del formulario -->

        </div>
    </div>

    <br><br>

    <!-- Tarjeta para ingresar el código de reserva y descargar PDF -->
    <div class="card mx-auto" style="max-width: 600px; margin-top: 20px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Descargar Ticket de Reserva</h4>

            <!-- Mostrar mensaje de error si existe -->
            {% if error_msg %}
            <div class="alert alert-danger" role="alert">
                {{ error_msg }}
            </div>
            {% endif %}

            <form id="ticket-form" method="POST" action="{% url 'Descargar_Ticket' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="codigo_reserva">Código de Reserva</label>
                    <input type="text" class="form-control" id="codigo_reserva" name="codigo_reserva" placeholder="Ingrese su código de reserva" required>
                </div>
                <button type="submit" class="btn btn-success btn-block">Descargar Ticket</button>
            </form>
        </div>
    </div>

</section>

<script>
    // Manejo de respuestas del formulario
    document.getElementById('reserva-form').onsubmit = async function (event) {
        event.preventDefault();  // Prevenir el envío normal del formulario

        const formData = new FormData(this);
        const response = await fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        });

        const data = await response.json();

        if (response.ok) {
            // Si la reserva fue exitosa
            window.location.href = "?command=reservation_success&email=" + data.email;
        } else if (data.error === 'mesa_ocupada') {
            // Redirigir en caso de error por mesa ocupada
            window.location.href = "?error=mesa_ocupada";
        }
    };
</script>
{% endblock %}